/PointInterruptionConsole/bin/Debug/envdte.dll
/PointInterruptionConsole/bin/Debug/envdte.xml
/PointInterruptionConsole/bin/Debug/envdte80.dll
/PointInterruptionConsole/bin/Debug/envdte80.xml
/PointInterruptionConsole/bin/Debug/Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime.dll
/PointInterruptionConsole/bin/Debug/Microsoft.VisualStudio.Interop.dll
/PointInterruptionConsole/bin/Debug/Microsoft.VisualStudio.Interop.xml
/PointInterruptionConsole/bin/Debug/PointInterruptionConsole.exe
/PointInterruptionConsole/bin/Debug/PointInterruptionConsole.exe.config
/PointInterruptionConsole/bin/Debug/PointInterruptionConsole.pdb
/PointInterruptionConsole/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/PointInterruptionConsole/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/PointInterruptionConsole/obj/Debug/PointInterruptionConsole.csproj.AssemblyReference.cache
/PointInterruptionConsole/obj/Debug/PointInterruptionConsole.csproj.CopyComplete
/PointInterruptionConsole/obj/Debug/PointInterruptionConsole.csproj.CoreCompileInputs.cache
/PointInterruptionConsole/obj/Debug/PointInterruptionConsole.csproj.FileListAbsolute.txt
/PointInterruptionConsole/obj/Debug/PointInterruptionConsole.exe
/PointInterruptionConsole/obj/Debug/PointInterruptionConsole.pdb
/BreakpointSetter/bin/Debug/BreakpointSetter.exe
/BreakpointSetter/bin/Debug/BreakpointSetter.exe.config
/BreakpointSetter/bin/Debug/BreakpointSetter.pdb
/BreakpointSetter/bin/Debug/envdte.dll
/BreakpointSetter/bin/Debug/envdte.xml
/BreakpointSetter/bin/Debug/Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime.dll
/BreakpointSetter/bin/Debug/Microsoft.VisualStudio.Interop.dll
/BreakpointSetter/bin/Debug/Microsoft.VisualStudio.Interop.xml
/BreakpointSetter/obj/Debug/.NETFramework,Version=v4.7.1.AssemblyAttributes.cs
/BreakpointSetter/obj/Debug/Breakpoi.5E3F9F3F.Up2Date
/BreakpointSetter/obj/Debug/BreakpointSetter.csproj.AssemblyReference.cache
/BreakpointSetter/obj/Debug/BreakpointSetter.csproj.CoreCompileInputs.cache
/BreakpointSetter/obj/Debug/BreakpointSetter.csproj.FileListAbsolute.txt
/BreakpointSetter/obj/Debug/BreakpointSetter.exe
/BreakpointSetter/obj/Debug/BreakpointSetter.pdb
/BreakpointSetter/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
